@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<ul class="navbar-nav ms-auto">
    @if (string.IsNullOrEmpty(userName))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, @userName
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" asp-controller="User" asp-action="Update">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="KoiFish" asp-action="Index">KoiFishes</a></li>
                <li><a class="dropdown-item" asp-controller="AuctionSession" asp-action="GetAuctionSessionForUser">AuctionSession</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <form asp-controller="User" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        </li>
    }
</ul>
